/*
 menu styles
 note: not all browsers render styles the same way so try out your style sheet
 in different browsers before publishing
*/

/* level 0 inner */
.m0l0iout {
	font-family: Arial, Times New Roman, Times, sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 17.1px;
	text-decoration: none;
	margin: 4px 8px 0px 8px;
    color: white; /*#0B0367;*/
    font-weight: bold;
}
.m0l0iover {
	font-family: Arial, Times New Roman, Times, sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 17.1px;
	text-decoration:  none;
	margin: 3px 12px 0px 8px;
	color: #0B0367;
}

/* level 0 outer */
.m0l0oout {
	text-decoration : none;
	/*background-image: url(img/lev0_bg1.gif);*/
	background-image: url(../img/bluemenu_hover.png);
    background-repeat: repeat;
	/*border: 1px solid #336699;*/
	background-color: #7AA5F3;
}
.m0l0oover {
	text-decoration : none;
    font-weight: bold;
	/*background-image: url(img/lev0_bg2.gif);*/
	background-image: url(../img/bluemenu.png);
	/*background-color: #7AA5F3;*/
	/*border: 1px solid #336699;*/
}

/* level 1 inner */
.m0l1iout {
	font-family: Arial, Times New Roman, Times, sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 15px;
	margin: 4px 0 0 17px;
	color:  #0E3F98; /*#fffaa8;*/
}
.m0l1iover {
	font-family: Arial, Times New Roman, Times, sans-serif, Tahoma, Verdana, Geneva, Arial, Helvetica;
	font-size: 15px;
	margin: 4px 0 0 17px;
	color: white; /*#fffaa8;*/
}

/* level 1 outer */
.m0l1oout {
	text-decoration : none;
    background-color: #C0D1FA;/* #60320e;*/
	/*background-color: #5286BB;
	border: 1px solid #336699;*/
}
.m0l1oover {
	text-decoration : none;
    background-color: #0E3F98;
/*	background-image: url(../img/arow1.gif);*/
	background-repeat: no-repeat;

}
